flows/Close_Opportunity-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Reason_Client_need_change_not_taken_up</name>
        <choiceText>Client need change / not taken up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client need change / not taken up</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reason_Credit_Policy_Decision</name>
        <choiceText>Credit Policy Decision</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Policy Decision</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reason_Duplicate</name>
        <choiceText>Duplicate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reason_Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reason_Pricing</name>
        <choiceText>Pricing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reason_Product_Solution</name>
        <choiceText>Product / Solution</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product / Solution</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reason_Regulatory_Compliance</name>
        <choiceText>Regulatory / Compliance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Regulatory / Compliance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reason_Relationship</name>
        <choiceText>Relationship</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Relationship</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage_Closed_Lost</name>
        <choiceText>Closed Lost</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Lost</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage_Closed_Won</name>
        <choiceText>Closed Won</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Won_or_Lost</name>
        <label>Won or Lost</label>
        <locationX>252</locationX>
        <locationY>240</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Decision_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reason_Won_Screen</targetReference>
            </connector>
            <label>Won</label>
        </rules>
        <rules>
            <name>Decision_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reason_Lost_Screen</targetReference>
            </connector>
            <label>Lost</label>
        </rules>
    </decisions>
    <description>Visual Workflow used to close an opportunity</description>
    <formulas>
        <description>Clean error message for user to see</description>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <expression>IF(
FIND(&quot;This error occurred:&quot;, {!$Flow.FaultMessage} ) &gt; 0,
MID(
    {!$Flow.FaultMessage} ,
    FIND(&quot;This error occurred:&quot;, {!$Flow.FaultMessage} ) + 20,
    LEN({!$Flow.FaultMessage}) - FIND(&quot;This error occurred:&quot;, {!$Flow.FaultMessage} )
),
{!$Flow.FaultMessage}
)</expression>
    </formulas>
    <interviewLabel>Close Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Opportunity</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Close_Date</name>
        <label>Get Close Date</label>
        <locationX>252</locationX>
        <locationY>7</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Close_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Opportunity</outputReference>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Reason_Won_Lost__c</queriedFields>
        <queriedFields>StageName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Lost</name>
        <label>Update Opportunity Lost</label>
        <locationX>366</locationX>
        <locationY>485</locationY>
        <faultConnector>
            <targetReference>Opportunity_Closure_Failed_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_via_Visual_Workflow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Won_Lost__c</field>
            <value>
                <elementReference>Reason_Lost_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Won</name>
        <label>Update Opportunity Won</label>
        <locationX>133</locationX>
        <locationY>484</locationY>
        <faultConnector>
            <targetReference>Opportunity_Closure_Failed_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_via_Visual_Workflow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Won_Lost__c</field>
            <value>
                <elementReference>Reason_Won_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <description>Screen to Close an Opportunity</description>
        <name>Close_Opportunity</name>
        <label>Close Opportunity</label>
        <locationX>252</locationX>
        <locationY>119</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Won_or_Lost</targetReference>
        </connector>
        <fields>
            <name>CloseOpportunityDisplayText</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Close Opportunity&lt;/B&gt;&lt;B&gt;&lt;I&gt; &lt;/I&gt;&lt;/B&gt;&lt;FONT COLOR=&quot;#FF0000&quot;&gt;&lt;B&gt;&lt;I&gt;(PLEASE ENSURE THAT THE CLOSE DATE IS CORRECT)&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stage</name>
            <choiceReferences>Stage_Closed_Won</choiceReferences>
            <choiceReferences>Stage_Closed_Lost</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Opportunity.CloseDate</elementReference>
            </defaultValue>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Closure_Failed_Screen</name>
        <label>Opportunity Closure Failed</label>
        <locationX>246</locationX>
        <locationY>616</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayErrorMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;JUSTIFY&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;The Opportunity could not be closed: &lt;/I&gt;&lt;FONT COLOR=&quot;#FF0000&quot;&gt;&lt;I&gt;{!ErrorMessage}&lt;/I&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reason_Lost_Screen</name>
        <label>Reason Lost</label>
        <locationX>368</locationX>
        <locationY>359</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Opportunity_Lost</targetReference>
        </connector>
        <fields>
            <name>Reason_Lost_Picklist</name>
            <choiceReferences>Reason_Client_need_change_not_taken_up</choiceReferences>
            <choiceReferences>Reason_Credit_Policy_Decision</choiceReferences>
            <choiceReferences>Reason_Duplicate</choiceReferences>
            <choiceReferences>Reason_Pricing</choiceReferences>
            <choiceReferences>Reason_Product_Solution</choiceReferences>
            <choiceReferences>Reason_Regulatory_Compliance</choiceReferences>
            <choiceReferences>Reason_Relationship</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason Won / Lost</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reason_Won_Screen</name>
        <label>Reason Won</label>
        <locationX>135</locationX>
        <locationY>361</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Opportunity_Won</targetReference>
        </connector>
        <fields>
            <name>Reason_Won_Picklist</name>
            <choiceReferences>Reason_Other</choiceReferences>
            <choiceReferences>Reason_Pricing</choiceReferences>
            <choiceReferences>Reason_Product_Solution</choiceReferences>
            <choiceReferences>Reason_Relationship</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason Won / Lost</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Close_Date</startElementReference>
    <variables>
        <description>Holds the Opportunity we are running the flow on</description>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>The Id of the Opportunity in question</description>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
