flows/Create_QA_Tasks_on_User_stories-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Assigned_to_user_as_PE</name>
        <label>Assign Assigned to user as PE</label>
        <locationX>681</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>var_T_Performance_Engineer_User_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_T_Assigned_to_User_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Peer_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Assigned_to_user_as_PO</name>
        <label>Assign Assigned to user as PO</label>
        <locationX>684</locationX>
        <locationY>269</locationY>
        <assignmentItems>
            <assignToReference>var_T_Product_Owner_User_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_T_Assigned_to_User_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Owner_Acceptance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Assigned_to_user_as_QA</name>
        <label>Assign Assigned to user as QA</label>
        <locationX>160</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>var_T_QA_Engineer_User_Is</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_T_Assigned_to_User_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QA_Testing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Assigned_to_user_as_UE</name>
        <label>Assign Assigned to user as UE</label>
        <locationX>201</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>var_T_UE_Engineer_User_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_T_Assigned_to_User_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Acceptance_Criteria_Review</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Test_if_Performance_Engineer_is_present</name>
        <label>Test if Performance Engineer is present</label>
        <locationX>787</locationX>
        <locationY>357</locationY>
        <defaultConnector>
            <targetReference>Assign_Assigned_to_user_as_PE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PE_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_T_Performance_Engineer_User_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Peer_Review</targetReference>
            </connector>
            <label>PE Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_if_PO_Engineer_is_present</name>
        <label>Test if PO Engineer is present</label>
        <locationX>790</locationX>
        <locationY>187</locationY>
        <defaultConnector>
            <targetReference>Assign_Assigned_to_user_as_PO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PO_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_T_Product_Owner_User_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Owner_Acceptance</targetReference>
            </connector>
            <label>PO Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_if_QA_Engineer_is_present</name>
        <label>Test if QA Engineer is present</label>
        <locationX>299</locationX>
        <locationY>377</locationY>
        <defaultConnector>
            <targetReference>Assign_Assigned_to_user_as_QA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>QA_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_T_QA_Engineer_User_Is</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QA_Testing</targetReference>
            </connector>
            <label>QA Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_if_UE_Engineer_is_present</name>
        <label>Test if UE Engineer is present</label>
        <locationX>314</locationX>
        <locationY>191</locationY>
        <defaultConnector>
            <targetReference>Assign_Assigned_to_user_as_UE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>UE_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_T_UE_Engineer_User_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acceptance_Criteria_Review</targetReference>
            </connector>
            <label>UE Present</label>
        </rules>
    </decisions>
    <description>Automatiically adds QA tasks to user stories. Activated via process builder.

Input:
-Work Id

Output:
Creates 4 tasks for the different QA steps.</description>
    <interviewLabel>Create QA Tasks on User stories {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create QA Tasks on User stories</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Acceptance_Criteria_Review</name>
        <label>Acceptance Criteria Review</label>
        <locationX>422</locationX>
        <locationY>288</locationY>
        <assignRecordIdToReference>var_T_AC_Task_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Test_if_QA_Engineer_is_present</targetReference>
        </connector>
        <inputAssignments>
            <field>agf__Assigned_To__c</field>
            <value>
                <elementReference>var_T_UE_Engineer_User_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Hours_Remaining__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Starting_Hours__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Subject__c</field>
            <value>
                <stringValue>Acceptance Criteria Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Work__c</field>
            <value>
                <elementReference>in_T_Work_Id</elementReference>
            </value>
        </inputAssignments>
        <object>agf__ADM_Task__c</object>
    </recordCreates>
    <recordCreates>
        <name>Peer_Review</name>
        <label>Peer Review</label>
        <locationX>897</locationX>
        <locationY>468</locationY>
        <assignRecordIdToReference>var_T_PO_Task_Id</assignRecordIdToReference>
        <inputAssignments>
            <field>agf__Assigned_To__c</field>
            <value>
                <elementReference>var_T_Performance_Engineer_User_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Hours_Remaining__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Starting_Hours__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Subject__c</field>
            <value>
                <stringValue>Peer Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Work__c</field>
            <value>
                <elementReference>in_T_Work_Id</elementReference>
            </value>
        </inputAssignments>
        <object>agf__ADM_Task__c</object>
    </recordCreates>
    <recordCreates>
        <name>Product_Owner_Acceptance</name>
        <label>Product Owner Acceptance</label>
        <locationX>881</locationX>
        <locationY>269</locationY>
        <assignRecordIdToReference>var_T_PO_Task_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Test_if_Performance_Engineer_is_present</targetReference>
        </connector>
        <inputAssignments>
            <field>agf__Assigned_To__c</field>
            <value>
                <elementReference>var_T_Product_Owner_User_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Hours_Remaining__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Starting_Hours__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Subject__c</field>
            <value>
                <stringValue>Product Owner Acceptance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Work__c</field>
            <value>
                <elementReference>in_T_Work_Id</elementReference>
            </value>
        </inputAssignments>
        <object>agf__ADM_Task__c</object>
    </recordCreates>
    <recordCreates>
        <name>QA_Testing</name>
        <label>QA Testing</label>
        <locationX>426</locationX>
        <locationY>473</locationY>
        <assignRecordIdToReference>var_T_QA_Task_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Test_if_PO_Engineer_is_present</targetReference>
        </connector>
        <inputAssignments>
            <field>agf__Assigned_To__c</field>
            <value>
                <elementReference>var_T_QA_Engineer_User_Is</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Hours_Remaining__c</field>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Starting_Hours__c</field>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Subject__c</field>
            <value>
                <stringValue>QA Testing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Work__c</field>
            <value>
                <elementReference>in_T_Work_Id</elementReference>
            </value>
        </inputAssignments>
        <object>agf__ADM_Task__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Owners</name>
        <label>Lookup Owners</label>
        <locationX>311</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Test_if_UE_Engineer_is_present</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>in_T_Work_Id</elementReference>
            </value>
        </filters>
        <object>agf__ADM_Work__c</object>
        <outputAssignments>
            <assignToReference>var_T_Assigned_to_User_Id</assignToReference>
            <field>agf__Assignee__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_T_Product_Owner_User_Id</assignToReference>
            <field>agf__Product_Owner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_T_QA_Engineer_User_Is</assignToReference>
            <field>agf__QA_Engineer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_T_Performance_Engineer_User_Id</assignToReference>
            <field>agf__System_Test_Engineer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_T_UE_Engineer_User_Id</assignToReference>
            <field>agf__UE_Engineer__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Lookup_Owners</startElementReference>
    <variables>
        <name>in_T_Work_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_T_AC_Task_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_T_Assigned_to_User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_T_Performance_Engineer_User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_T_PO_Task_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_T_Product_Owner_User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_T_QA_Engineer_User_Is</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_T_QA_Task_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_T_UE_Engineer_User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
