flows/Libra_Create_Agreement_on_Deal-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Master_Agreement_Type</name>
        <label>Master Agreement Type</label>
        <locationX>431</locationX>
        <locationY>128</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ISDA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MarketTransaction.Master_Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISDA Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ISDA_RecordTypeId</targetReference>
            </connector>
            <label>ISDA</label>
        </rules>
        <rules>
            <name>GMSLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MarketTransaction.Master_Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GMSLA Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GMSLA_RecordTypeId</targetReference>
            </connector>
            <label>GMSLA</label>
        </rules>
        <rules>
            <name>GMRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MarketTransaction.Master_Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GMRA Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GMRA_RecordTypeId</targetReference>
            </connector>
            <label>GMRA</label>
        </rules>
        <rules>
            <name>Prime_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MarketTransaction.Master_Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prime Services Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prime_Services_RecordTypeId</targetReference>
            </connector>
            <label>Prime Services</label>
        </rules>
    </decisions>
    <formulas>
        <name>AgreementName</name>
        <dataType>String</dataType>
        <expression>{!MarketTransaction.Name} + &quot; - &quot; + TEXT({!MarketTransaction.Master_Agreement_Type__c})</expression>
    </formulas>
    <interviewLabel>Libra - Create Agreement on Deal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Libra - Create Agreement on Deal</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_GMRA</name>
        <label>Create GMRA</label>
        <locationX>529</locationX>
        <locationY>403</locationY>
        <inputAssignments>
            <field>Client_Name__c</field>
            <value>
                <elementReference>MarketTransaction.Relationship__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Agreement_Type__c</field>
            <value>
                <stringValue>GMRA Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Matter_Deal__c</field>
            <value>
                <elementReference>MarketTransaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AgreementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hAuto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Agreement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_GMSLA</name>
        <label>Create GMSLA</label>
        <locationX>338</locationX>
        <locationY>400</locationY>
        <inputAssignments>
            <field>Client_Name__c</field>
            <value>
                <elementReference>MarketTransaction.Relationship__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Agreement_Type__c</field>
            <value>
                <stringValue>GMSLA Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Matter_Deal__c</field>
            <value>
                <elementReference>MarketTransaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AgreementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hAuto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Agreement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_ISDA</name>
        <label>Create ISDA</label>
        <locationX>134</locationX>
        <locationY>399</locationY>
        <inputAssignments>
            <field>Client_Name__c</field>
            <value>
                <elementReference>MarketTransaction.Relationship__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Agreement_Type__c</field>
            <value>
                <stringValue>ISDA Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Matter_Deal__c</field>
            <value>
                <elementReference>MarketTransaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AgreementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hAuto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Agreement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Prime_Services</name>
        <label>Create Prime Services</label>
        <locationX>716</locationX>
        <locationY>403</locationY>
        <inputAssignments>
            <field>Client_Name__c</field>
            <value>
                <elementReference>MarketTransaction.Relationship__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Agreement_Type__c</field>
            <value>
                <stringValue>Prime Services Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Matter_Deal__c</field>
            <value>
                <elementReference>MarketTransaction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AgreementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hAuto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Agreement__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_GMRA_RecordTypeId</name>
        <label>Get GMRA RecordTypeId</label>
        <locationX>531</locationX>
        <locationY>281</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_GMRA</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GMRA_Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agreement__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordTypeId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_GMSLA_RecordTypeId</name>
        <label>Get GMSLA RecordTypeId</label>
        <locationX>339</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_GMSLA</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GMSLA_Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agreement__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordTypeId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ISDA_RecordTypeId</name>
        <label>Get ISDA RecordTypeId</label>
        <locationX>136</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_ISDA</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ISDA_Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agreement__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordTypeId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Matter_Record</name>
        <label>Get Matter Record</label>
        <locationX>428</locationX>
        <locationY>16</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Master_Agreement_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MarketTransactiontId</elementReference>
            </value>
        </filters>
        <object>advpm__Matter__c</object>
        <outputReference>MarketTransaction</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Master_Agreement_Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Relationship__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Prime_Services_RecordTypeId</name>
        <label>Get Prime Services RecordTypeId</label>
        <locationX>717</locationX>
        <locationY>282</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Prime_Services</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prime_Services_Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agreement__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordTypeId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Get_Matter_Record</startElementReference>
    <variables>
        <name>MarketTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>advpm__Matter__c</objectType>
    </variables>
    <variables>
        <name>MarketTransactiontId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>sObject_RecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sObject_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
